In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

data collection and processing

In [ ]:
heart_data = pd.read_csv('/data.csv')

In [ ]:
heart_data.head()

   age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  output
0   63    1   3     145   233    1  ...     0      2.3    0    0      1       1
1   37    1   2     130   250    0  ...     0      3.5    0    0      2       1
2   41    0   1     130   204    0  ...     0      1.4    2    0      2       1
3   56    1   1     120   236    0  ...     0      0.8    2    0      2       1
4   57    0   0     120   354    0  ...     1      0.6    2    0      2       1

[5 rows x 14 columns]

In [ ]:
heart_data.shape

(303, 14)

In [ ]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [ ]:
#checking missing value
heart_data.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [ ]:
#statical measures of data
heart_data.describe()

              age         sex          cp  ...         caa       thall      output
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [ ]:
#checking the distribution of output variable
heart_data['output'].value_counts()

1    165
0    138
Name: output, dtype: int64

output 
1-defective heart
0-healthy heart

In [ ]:
#spiltting the features and output
x= heart_data.drop(columns='output',axis=1)
y=heart_data['output']

In [ ]:
x

     age  sex  cp  trtbps  chol  fbs  ...  thalachh  exng  oldpeak  slp  caa  thall
0     63    1   3     145   233    1  ...       150     0      2.3    0    0      1
1     37    1   2     130   250    0  ...       187     0      3.5    0    0      2
2     41    0   1     130   204    0  ...       172     0      1.4    2    0      2
3     56    1   1     120   236    0  ...       178     0      0.8    2    0      2
4     57    0   0     120   354    0  ...       163     1      0.6    2    0      2
..   ...  ...  ..     ...   ...  ...  ...       ...   ...      ...  ...  ...    ...
298   57    0   0     140   241    0  ...       123     1      0.2    1    0      3
299   45    1   3     110   264    0  ...       132     0      1.2    1    0      3
300   68    1   0     144   193    1  ...       141     0      3.4    1    2      3
301   57    1   0     130   131    0  ...       115     1      1.2    1    1      3
302   57    0   1     130   236    0  ...       174     0      0.0    1    1      2

[303 rows x 13 columns]

In [ ]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: output, Length: 303, dtype: int64

splitting the data into training data and test data

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [ ]:
x.shape

(303, 13)

In [ ]:
x_train.shape

(242, 13)

In [ ]:
x_test.shape

(61, 13)

Model training

In [ ]:
model= LogisticRegression()

In [ ]:
#training the LogisticRegression  model with training data
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Model evaluation

In [ ]:
#accuracy on training data
x_train_prediction=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

In [ ]:
training_data_accuracy

0.8512396694214877

In [ ]:
#accuracy on test data
x_test_prediction=model.predict(x_test)
test_data_accuracy=accuracy_score(x_test_prediction,y_test)
test_data_accuracy

0.819672131147541

building predective system

In [ ]:
input_data=(54,1,0,124,266,0,0,109,1,2.2,1,1,3)
#change the input data to a numpy array
input_data_as_numpy_array=np.asarray(input_data)
#reshape the numpy array as we are predecting for only one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
predection=model.predict(input_data_reshaped)
predection

array([0])

In [ ]:
if (predection[0]==0):
  print('The person does not have a Heart Disease')
else:
  print('The person have Heart Disease')

The person does not have a Heart Disease